* {
  box-sizing: border-box;
}

.team-car-store-App {
  text-align: center;
}

.car-store-App-logo {
  height: 40vmin;
  pointer-events: none;
}

.car-store {
  width: 100%;
}
.car-store-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.car-store-list {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.car-store-list-container {
  background-color: gray;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}
